<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qatar Museums</title>
    <link rel="stylesheet" href="styles.css">
</head>


<header class="nav-bar">
    <img src="" alt="qatar-logo">
    <a href="">Tickets</a>

    <button type="button" class="hamburger-button" id="hamburger-button">
        <span></span>
        <span></span>
    </button>

    <nav class="menu" id="menu">
        <ul>
            <li><a href="">Stories</a></li>
            <li><a href="">What's on</a></li>
            <li><a href="">Visit</a></li>
            <li><a href="">Families and children</a></li>
            <li><a href="">Schools</a></li>
            <li><a href="">Researchers</a></li>
        </ul>
    </nav>
</header>

<body>
    <article class="hero">
        <img src="" alt="hero-image">
        <div class="text-block">
            <h1>Visiting Qatar Museums during Ramadan</h1>
            <p><a href="">Read</a></p>
        </div>
    </article>

    <article class="welcome-block">
        <h2>Welcome to Qatar Museums</h2>
        <p>Stop by one of our world-famous museums, explore a heritage site, or check out some public art. <a
                href="">Plan your visit today!</a></p>
    </article>

    <div class="museum-container">
        <article class="museum-block">
            <img src="" alt="National Museum of Qatar">
            <h3>National Museum of Qatar</h3>
            <a href="">Show more</a>
        </article>

        <article class="museum-block">
            <img src="" alt="Museum of Islamic Art (MIA)">
            <h3>Museum of Islamic Art (MIA)</h3>
            <a href="">Show more</a>
        </article>

        <article class="museum-block">
            <img src="" alt="Mathaf: Arab Museum of Modern Art">
            <h3>Mathaf: Arab Museum of Modern Art</h3>
            <a href="">Show more</a>
        </article>

        <article class="museum-block">
            <img src="" alt="3-2-1 Qatar Olympic and Sports Museum">
            <h3>3-2-1 Qatar Olympic and Sports Museum</h3>
            <a href="">Show more</a>
        </article>

        <div class="museum-link">
            <a href="">See all our museums and venues</a>
        </div>

    </div>




</body>

</html>